@import "@/assets/scss/_responsiveness.scss";

.pokemons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin: 10px;
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin: 10px;
    }
  }

  .pokemon {
    box-shadow: 0 2px 4px rgba(30, 60, 90, 0.1);
    padding: 10px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.4s;
    cursor: pointer;
  
    .pokemon-img {
      margin: 0 auto;
      display: flex;
    }
  
    .pokemon-detalhes {
      display: flex;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  
  .pokemon:hover {
    box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
    transform: scale(1.1);
  }